// Шрифты
$font-monts__regular: 400 20px/24px 'Montserrat', sans-serif;
$font-monts__medium: 'Montserrat', sans-serif;

//Цвет фона
$bg-main: #F7F7F7;
$bg-white: #ffffff;
$bg-green: #31BE7C;
$bg-orange: #FF9401;
$bg-light__grey: #b5b5b570;
$bg-red: red;